.Header {
  background-color: rgb(254, 250, 247, 100%);
  max-width: 500px;
  margin: 10px auto;
  padding: 10px;
  border-radius: 10px;
}

.search-form-input {
  width: 60%;
  padding: 15px;
  border-radius: 10px;
  border: none;
  margin-right: 5px;
  font-size: 16px;
  cursor: pointer;
  color: black;
  margin-top: 10px;
  margin-bottom: 10px;
}

.search-button {
  text-align: center;
  background-color: rgb(219, 78, 78, 100%);
  color: white;
  width: 20%;
  border-radius: 10px;
  border: none;
  padding: 15px;
  font-size: 16px;
  margin-top: 10px;
}
